.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px 30px;

  .logo {
    width: 300px;
  }
  .img-container {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .lang-dropdown {
    position: absolute;
    width: 500px;
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    border-radius: 11px;
    background-color: white;
    top: 123px;
    right: 27px;

    .flag-wrapper {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      gap: 30px;
      padding: 10px 20px;
      border-bottom: 1px solid #f5f5f5;
      &:hover {
        background-color: #f5f5f5;
      }
      &:last-child {
        border-bottom: none;
      }
      span {
        font-size: 2rem;
        font-weight: 500;
        margin-inline-start: auto;
      }
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    & > div {
      flex-basis: 33.33%;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
