.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  & > h1 {
    padding: 50px;
  }
  .buttons {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      font-size: 1.5rem;
      padding: 15px 30px;
      outline: none;
      border: none;
      background-color: white;
      border-radius: 6px;
      cursor: pointer;
    }

    h1 {
      text-align: center;
      text-shadow: none;
      // margin: 0;/
      margin-bottom: 0;
      line-height: 1.4;
    }

    .btn-yes {
      margin-inline-end: 50px;
      background-color: rgba(17, 24, 39, 1);
      color: white;
      padding: 15px 200px;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      border-radius: 20px;
      &:hover {
        opacity: 0.8;
      }
    }

    .btn-no {
      color: rgba(156, 163, 175, 1);
      background-color: transparent;
      h1 {
        color: rgb(156, 162, 174);
        font-weight: 600;
      }
    }
  }
}
