.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;

  & > * {
    margin: 0 0.5rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
